:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: url('https://panosgio.org/hackathon/bg.png') center/250px 230px no-repeat, #ffffff;
    --border: 2px solid #ddd;
    --left-msg-bg: #7a50e2;
    --right-msg-bg: #7a50e2;
  }
  
  html {
    box-sizing: border-box;
    
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://panosgio.org/hackathon/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Helvetica, sans-serif;
  }
  
  
  .msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  }
  
  .msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: linear-gradient(135deg, #8e2de2 0%, #4a00e0 100%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  
  
  .msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    
  }
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    /* background-color: #6a0dad; */
    background-image: url('https://panosgio.org/hackathon/usercircle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

  .round-img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
    border: 2px solid #9339d8;
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    color: #fff;
    border-bottom-right-radius: 0;
  }
  
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }
  
  .msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-input {
    flex: 1;
    border: 2px solid #6a0dad;
  }
  
  
  
  .msger-send-btn {
    margin-left: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background: linear-gradient(135deg, #8e2de2 0%, #4a00e0 100%);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  
  .msger-send-btn:hover {
    background: linear-gradient(135deg, #ff99cc 0%, #8f1d8f 100%);
  }
  
  
  .msger-chat {
    background-color: linear-gradient(135deg, #8e2de2 0%, #4a00e0 100%);
  }
  